body {
    font-family: "Open Sans", sans-serif;
    background: url(../images/starry.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

