/* Sets the defaults for the page */
body {
    line-height: 1.5em;
    background: black;
    color: white;
    font-family: arial, sans-serif;
    font-size: 1.25rem;

    /*
     * This will center our content and give us a
     * little bit of space on the left and right.
     */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Gives our headline a special font. */
.headline {
    font-family: 'Mogra', cursive;
    text-align: center;
}

/*
 * This sets the default style for all "input" types.
 */
input, button, select {
    margin-bottom: 10px;
    padding: 5px;
    color:#eee;
    font-size: 1.25rem;
    background: #444;
    border: solid 2px #555;
    border-radius: 10px;
    /* this gives us a fancy animated glow when the box gets focus */
    transition: box-shadow 0.3s, border 0.3s, background 0.3s;
}

/*
 * This sets the default style for all "input" tags when you are
 * using the form field or button.
 */
input:focus,
input.focus,
button:focus,
button.focus,
select:focus,
select.focus {
    outline: none;
    border: solid 2px #777;
    background: #888;
    box-shadow: 0 0 5px 5px #444;
}

/* This gives us an underlined placeholder where our words will appear. */
span:empty {
    display: inline-block;
    width: 40px;
    color: #ee0;
    border-bottom: solid 2px #ee0;
}

/* This does a fancy word bouncing animation when the words are inserted */
.inserted-word {
    border-bottom: solid 2px #ee0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ee0;
    animation: word-bounce 1s;
    -webkit-animation: word-bounce 1s;
    -moz-animation: word-bounce 1s;
}

/*
 * All of the remaining styles below have to do with
 * helping to animate the switch between the form and the story.
 */

/* This creates a box that fills the screen below the headline */
.box {
    position: relative;
    width:100%;
    height: 100%;
}

/*
 * This is the default style for our form that positions it
 * at the top of the box container.
 */
#madlib-form {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    opacity: 1;
}

/*
 * This is the default style for our story which positions it
 * way off to the left of the screen.
 */
#madlib-story {
    position: absolute;
    left: -100%;
    height : 100%;
    width : 100%;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    opacity: 0;
}

/*
 * When we switch on the "storytime" class the web form
 * moves to the far left of the screen.
 */
#madlib-form.storytime {
    opacity: 0;
    left: -100%;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
}

/*
 * When we switch on the "storytime" class the story
 * slides from the left onto the main part of the screen.
 */
#madlib-story.storytime {
    left: 0;
    width:100%;
    height:100%;
    opacity: 1;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
}
